  .simple-photo {
    position: absolute;
    top: 0;
    transition: all .8s;
  }
  
  .photo {
    width: 100%;
  }
  
  .width-4 {
    width: 21%;
  }

  .width-3 {
    width: 30.7%;
  }

  .width-2 {
    width: 46%;
  }

  .left-2-1 {
    position: absolute;
    left: 2%;
  }

  .left-2-2 {
    position: absolute;
    left: 52%;
  }

  .left-3-1 {
    position: absolute;
    left: 2%;
  }

  .left-3-2 {
    position: absolute;
    left: 34%;
  }
  